@import 'imports/variables';
@import 'imports/header';
@import 'imports/_nav';


@import url(font/stylesheet.css);


html {
  --basil-green: #88a308;
  --dark-gray: #333333;
  --light-gray: #e4e1d1;
  --light-green: #f5faef;
  --orange: #f90;
  --light-orange: #ebbd4e;
  --red: #f00;
  --max-width: 840px;
  --breakpoint: 640px;
}
::selection {
  background: var(--basil-green);
  color: #fff;
} 

* {
  margin: 0;
  padding: 0;
}

body {
  font: 100%/1.5 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
  color: var(--dark-gray);
  max-width: var(--max-width);
  @media (min-width: $break-two){
    margin: 0 auto;
    margin-top: 24px;
    display: grid;
    grid-template-areas: 
    'header'
    'nav'
    'content'
    'footer'
    ;
  }
}


h2,
h3 {
  color: var(--basil-green);
  margin: 8px 0;
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: -1px;
}

a {
  color: var(--orange);
  text-decoration: none;
  transition: color 0.25s linear;
}

main a:hover {
  color: var(--basil-green);
}

li > h4 {
  margin-top: 12px;
}


article,
aside {
  padding: 1rem;
}

aside li {
  list-style: none;
}

article li,
article ol {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

figcaption {
  font-size: 0.75rem;
}

img {
  width: 100%;
}

footer {
  background-color: var(--basil-green);
  padding: 1rem;
  border-radius: 0 0 4px 4px;
  margin-bottom: 2rem;
}



@media (min-width: 640px) {
  body{
    
  }
  header{
    border-radius: 8px 8px 0px 0px ;
    grid-area: header;
  }
  header h1 {
    padding-left: 240px;
    padding-top: 90px;
    transform: translate(-100px, -80px);
    background-position: top left;
  }
  nav {
    grid-area: nav;
  }
  .content {
    /* display: flex; */
    grid-area: content;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20% ;
  }
  article {
    /* flex: 1 0 60%; */
    grid-column-start: 1;
    grid-column-end: span 3;
  }
  aside {
    background: var(--light-green);
    box-shadow: -4px 0px 4px #ddd;
    grid-column-start: 4;
    grid-column-end: span 2;
  }
  footer{
    grid-area: footer;
  }
}

