header {
    position: relative;
    height: 120px;
    background: var(--basil-green);
  
    h1 {
      background: url(img/basil.png) no-repeat;
      font-family: FuturaStdLight, sans-serif;
      font-weight: normal;
      color: #fff;
      font-size: 5rem;
    }
    a.beta {
      background: url('img/burst.svg') no-repeat;
      color: #fff;
      font-size: 1.5rem;
      position: absolute;
      top: -20px;
      right: 10px;
      width: 85px;
      height: 85px;
      line-height: 85px;
      text-align: center;
      text-transform: uppercase;
      transform: rotate(20deg);
      transition: all 1s ease;
    }
    a.beta:hover {
      transform: rotate(0deg) scale(1.2);
    }
  }
  